ORION_URL=http://localhost:1026
QUANTUMLEAP_URL=http://localhost:8668
FIWARE_SERVICE=environment
FIWARE_SERVICEPATH=/air-quality
APP_NAME=Smart Air & Noise Monitor
APP_ENV=dev

LLM_ENABLED=true
LLM_PROVIDER=gemini
LLM_API_KEY="Tu-API-Key-de-Gemini-aquí"
LLM_MODEL=gemini-2.5-flash
LLM_TEMPERATURE=0.3